{
  "presets": [
    "babel-preset-kyt-react"
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    "@babel/plugin-proposal-class-properties",
    "kyt-runtime/babel",
    ["module-resolver", {
      "root": ["./src"]
    }]
  ],
  "env": {
    "production": {
      "plugins": [["emotion", { "hoist": true }]]
    },
    "development": {
      "plugins": [["emotion", { "sourceMap": true, "autoLabel": true }]]
    },
    "test": {
      "plugins": [["emotion", { "hoist": true, "autoLabel": true }]]
    }
  }
}
